{% extends 'base.html' %}
{% load product_extras %}

{% block content %}

{% if cart.products.exists %}
<div class="col-8">
    <table class="table">
        <thead>
            <tr>
                <th scoope="col"></th>
                <th scoope="col"></th>
                <th scoope="col"></th>
                <th scoope="col">Cantidad</th>
                <th scoope="col">Precio</th>
            </tr>
        </thead>
        <tbody>
            {% for cp in cart.cartproducts_set.all %}
                {% with product=cp.product %}
                    <tr>
                        <th>{{forloop.counter}}</th>    {% comment %} th1 {% endcomment %}
                        <th>                            {% comment %} th2 {% endcomment %}
                            {% if product.image %}
                            <img src="{{product.image.url}}" alt="Imagen del producto" width="60px" height="60px">
                            {% endif %}
                        </th>
                        <th>                             {% comment %} th3 {% endcomment %}
                            <a class="nav-link" style="padding:0px" href=" {% url 'products:product' product.slug %}">{{product.title}}</a>
                            {% include 'carts/snippets/remove.html' %}
                        </th>
                        <th>{{cp.quantity}}</th>                      {% comment %} th4 {% endcomment %}
                        <th>                            {% comment %} th5 {% endcomment %}
                        <p class="fw-bold"><span class= "text-danger">{{product.price | price_format}}</span></p>
                        </th>
                    </tr>
                {% endwith %}
            {% endfor %}
        </tbody>
    </table>
</div> 
<div class="col">
    <div class="card">
        <div class="card-body">
            <p class="fw-bold">Subtotal ({{cart.products.count}}): <span class="text-danger">{{cart.subtotal| price_format}}</span></p>
            <a href="#" class="btn btn-warning mt-2">Proceder al pago</a>
        </div>
    </div>
</div>
{% else %}
<div class="col">
    <p class="h3">Tu carro de compras está vacío</p>
    <a href="{% url 'index' %}" class="nav-link">Seguir comprando</a>
</div>
{% endif %}

{% endblock  %}