{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="text-center">{{message}}</h4>
            {% include "products/snippets/search.html" %}
            {% include 'products/snippets/list.html' %}
            {% if is_paginated %}
            <ul class="pagination mt-4">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a href="?page={{page_obj.previous_page_number}}" class="page-link">Previous</a>
                </li>
                {% endif %}
                
                {% for i in paginator.page_range %}
               
                {% if page_obj == i %}
                <li class="page-item">
                    <a href="?page={{i}}" class="page-link active">{{i}}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                </li>
                {% endif %}

                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a href="?page={{page_obj.next_page_number}}" class="page-link">Next</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}