{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{title}}</h1>
            <ul class="list-group">
                {% for product in products %}
                <li class="list-group-item">
                    {{product.title}}
                    <span>
                        {% if product.stock %}
                            <span class="text-success">Disponible</span>
                        {% else %}
                            <span class="text-danger">No disponible</span>
                        {% endif %}
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}