{% url 'login' as login %}
{% url 'register' as register %}

<nav class="navbar fix-top navbar-expand-md bg-dark navbar-dark">
    <div class="container">
        <a href="" class="navbar-brand">Facilito Store</a>
        <button type="button" class="navbar-toggler navbar-toggler-right" data-bs-toggle="collapse" data-bs-target="#navba">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div id="navba" class="collapse navbar-collapse hide">
        <ul class="navbar-nav ms-auto">
            <div>
            <li class="navbar-item ">
                <a href="{{login}}" class="nav-link {% if request.path == login %}active{% endif %}">
                    <span class="fas fa-user "></span>
                    Login
                </a>
            </li>
            </div>
            <li class="navbar-item ">
                <a href="{{register}}" class="nav-link {% if request.path == register %}active{% endif %}">
                    <span class="fas fa-user "></span>
                    Registro
                </a>
            </li>
            <li class="navbar-item">
                <a href="{% url 'logout' %}" class="nav-link">
                    <span class="fas fa-sign-in-alt "></span>
                    Logout
                </a>
            </li>
        </ul>
    </div>
</nav>
