<!DOCTYPE html>
<html lang="es" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Orden completada</title>
</head>
<body>
    <div class="">
        <h3>hola {{ user.username }} tu pedido ha sido enviado</h3>
        <p>Recuerda puedes visitar la pagina para revisar tus pedidos</p>
        <a href="{{next_url}}" target="blank">Mis pedidos</a>
    </div>
</body>
</html>